

<div class="form-container" [ngClass]="{'table-view': oUserData?.length > 0}">
  <ng-container *ngIf="oUserData?.length === 0;">
    <mat-form-field class="example-full-width">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="nDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix class="date-picker-toggle" [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker xPosition="'end'"></mat-datepicker>
    </mat-form-field>

    <mat-radio-group class="radio-btn-container" [(ngModel)]="eLeaveDur">
      <mat-radio-button [value]="eLeaveDuration.FULL_DAY">Full day</mat-radio-button>
      <mat-radio-button [value]="eLeaveDuration.HALF_DAY">Half day</mat-radio-button>
    </mat-radio-group>

    <mat-radio-group class="radio-btn-container" [(ngModel)]="eLeaveTypeOption">
      <mat-radio-button [value]="eLeaveType.PL">PL</mat-radio-button>
      <mat-radio-button [value]="eLeaveType.CL">CL</mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
      <mat-label>Reason</mat-label>
      <input type="text" matInput [(ngModel)]="sReason">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="fnAddNameClick()">{{ !bAddRecord ? 'Show records' : 'Add record'}}</button>
  </ng-container>
  

  <button mat-stroked-button color="primary" (click)="fnToggle()" class="secondary-btn">Show records</button>

</div>
  
