
<!-- 
<input type="text" [formControl]="oNewFormControl2">
<hr>
<ng-container *ngTemplateOutlet="greet"></ng-container>
<hr>
<ng-container *ngTemplateOutlet="eng; context: myContext"></ng-container>
<hr>
<ng-container *ngTemplateOutlet="svk; context: myContext"></ng-container>
<hr>

<ng-template #greet><span>Hello</span></ng-template>
<ng-template #eng let-name><span>Hello {{name}}!</span></ng-template>
<ng-template #svk let-person="localSk"><span>Ahoj {{person}}!</span></ng-template> -->



<!-- <div [ngClass]="sClickedTheme">

    <div>
      <button (click)="fnChangeTheme('red')">Red</button>
      <button (click)="fnChangeTheme('green')">Green</button>
      <button (click)="fnChangeTheme('blue')">Blue</button>
    </div>
  
    <button class="RaghuButton">Some Button</button>
    <input class="RaghuInput">
  
</div> -->

<!-- <div class="app-component-container">
  <mat-toolbar>
    <button mat-raised-button color="primary" (click)="onSignUpClick()">Sign-up</button>
    <button mat-raised-button color="primary" (click)="onSignInClick()">Sign-in</button>
  </mat-toolbar>

  <app-record-list *ngIf="AuthSrvc.bSignedIn"></app-record-list>
</div> -->

<router-outlet></router-outlet>






<!-- <app-child [sData]="sData" [bShowless]="bShowless" (click)="bShowless = !bShowless"></app-child> -->




