// @import './../styles.scss';

// mat-toolbar {
//     display: grid;
//     grid-auto-flow: column;
//     justify-content: space-around;
// }

.app-component-container {
    display: grid;
    width: 100%;
    height: 100%;
}

:host {
    height: 100%;
    width: 100%;
    display: flex;
}