@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* You can add global styles to this file, and also import other style files */

// $background-red: red;
// $background-green: green;
// $background-blue: blue;

// $foreground-white: white;

$pallet: (
    blue : (
        background: blue,
        foreground: white),

    red : (
        background: red,
        foreground: white),

    green : (
        background: green,
        foreground: white)
);

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 100%;
    position:absolute;
}

@mixin BtnStyle($theme) {
    background-color: map-get(map-get($pallet, $theme), background );
    color: map-get(map-get($pallet ,$theme), foreground );
}

@mixin InputStyle($theme) {
    background-color: map-get(map-get($pallet, $theme), background );
    color: map-get(map-get($pallet ,$theme), foreground );
}

@mixin commonstyle($theme) {
    & .RaghuButton {
        @include BtnStyle($theme);
    }
    & .RaghuInput {
        @include InputStyle($theme);
    }
}

router-outlet {
    display: none;
}




.red {
    @include commonstyle(red);
}

.green {
    @include commonstyle(green);
}

.blue {
    @include commonstyle(blue);
}